.container {
    width: 800px;
    margin: auto;
    border: 5px solid #855151;
    border-radius: 17px;

}

.header {
   background: linear-gradient(145deg, #b7b5b5, #333030);
    display: flex;
    justify-content: space-between;
    border: 0px solid #333030 ;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.header li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
.header li:hover{
transform: scale(1.05);
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}



.row div {
    background: linear-gradient(145deg, #934343, #ec8787);
    margin: 10px;
    padding: 10px;
    border: 3px solid rgb(193, 47, 47);
    border-radius: 10px;
    position: relative;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}
.row div:hover{
   
    transform: scale(1.05);
}

li{
   border: 2px solid rgb(193, 47, 47);
    background: linear-gradient(145deg, #934343, #ec8787);
     border-radius: 4px;
     display: flex;
      justify-content: space-between;
      padding: 4px;
      margin: 2px;
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);

}
h4 {
    display: inline-block; 
       background: linear-gradient(145deg, #b7b5b5, #b08282);
       border :#333030;
       box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);


}
